<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập hệ thống</title>
    <link rel="shortcut icon" type="image/png" href="~/Scripts/Lib_Web/Images/b84ef780adcb5c9505da.jpg" />
    <link href="~/Scripts/Lib_Web/vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="~/Scripts/Lib_Web/vendors/font-awesome/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Scripts/Lib_Web/vendors/bootstrap/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Scripts/Lib_Web/vendors/animate.css/animate.css" />
    <link type="text/css" rel="stylesheet" href="~/Scripts/Lib_Web/css/datepicker/datepicker.css" />
    <link type="text/css" rel="stylesheet" href="~/Scripts/Lib_Web/css/themes/style1/orange-blue.css" class="default-style" />
    <link type="text/css" rel="stylesheet" href="~/Scripts/Lib_Web/css/style-responsive.css" />
    <link type="text/css" rel="stylesheet" href="~/Scripts/Lib_Web/css/admin.css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Scripts/Lib_Web/vendors/DataTables/datatables.min.css" rel="stylesheet" />
    <script src="~/Scripts/Lib_Web/Script/Thietlap.js"></script>
    <link href="~/Scripts/Lib_Web/css/chosen.css" rel="stylesheet" />
    <script src="~/Scripts/Lib_Web/js/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Lib_Web/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/Lib_Web/js/jquery-ui.js"></script>
    <script src="~/Scripts/Lib_Web/Script/functions.js"></script>
    <script src="~/Scripts/Lib_Web/js/moment.js"></script>
    <script src="~/Scripts/Lib_Web/Script/share.js"></script>
    <script src="~/Scripts/Lib_Web/js/jquery.menu.js"></script>
    <script type="text/javascript">
        $(document.body).addClass('sidebar-collapsed');
    </script>
</head>
<body>
    @RenderBody()
    <script src="~/Scripts/Lib_Web/js/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Lib_Web/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/Lib_Web/js/jquery-ui.js"></script>
    <!--loading bootstrap js-->
    <script src="~/Scripts/Lib_Web/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
    <script src="~/Scripts/Lib_Web/js/html5shiv.js"></script>
    <script src="~/Scripts/Lib_Web/js/respond.min.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/slimScroll/jquery.slimscroll.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/jquery-cookie/jquery.cookie.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/jquery-notific8/jquery.notific8.min.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/jquery-highcharts/highcharts.js"></script>
    @*<script src="~/Scripts/Lib_Web/js/jquery.menu.js"></script>*@
    <script src="~/Scripts/Lib_Web/vendors/jquery-pace/pace.min.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/holder/holder.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/responsive-tabs/responsive-tabs.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/jquery-news-ticker/jquery.newsTicker.min.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/moment/moment.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/DataTables/datatables.min.js"></script>
    <!--CORE JAVASCRIPT-->
    <script src="~/Scripts/Lib_Web/js/main.js"></script>
    <!--LOADING SCRIPTS FOR PAGE-->
    <script src="~/Scripts/Lib_Web/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/moment/moment.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/bootstrap-clockface/js/clockface.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/jquery-maskedinput/jquery-maskedinput.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/charCount.js"></script>
    <script src="~/Scripts/Lib_Web/js/form-components.js"></script>
    <link href="~/Scripts/Lib_Web/vendors/select2/select2.css" rel="stylesheet">
    <script src="~/Scripts/Lib_Web/vendors/select2/select2.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/chosen/chosen.jquery.min.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/jquery-tablesorter/jquery.tablesorter.js"></script>

    <script src="~/Scripts/Lib_Web/vendors/flot-chart/jquery.flot.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/flot-chart/jquery.flot.categories.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/flot-chart/jquery.flot.pie.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/flot-chart/jquery.flot.tooltip.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/flot-chart/jquery.flot.resize.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/flot-chart/jquery.flot.fillbetween.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/flot-chart/jquery.flot.stack.js"></script>
    <script src="~/Scripts/Lib_Web/vendors/flot-chart/jquery.flot.spline.js"></script>

    <script src="~/Scripts/siteInput.js"></script>
    <script src="~/Scripts/siteCategories.js"></script>
    <script src="~/Scripts/siteData.js"></script>
    <script src="~/Scripts/siteReport.js"></script>
    <script src="~/Scripts/siteSystem.js"></script>
    <script src="~/Scripts/site.js"></script>
    <div id="flotTip" style="display: none; position: absolute;"></div>
</body>
</html>
